.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  border: solid red 1px;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.Body {
  display: flex;
  border: solid red 1px;
  max-width: 1024px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Main-Section {
  display: flex;
  border: solid red 1px;
  width: 57%;
  flex-direction: column;
  margin: 2%;
  margin-right: 0;
  margin-top: 5%;
}

.Sectionsmall {
  display: flex;
  border: solid red 1px;
  width: 35%;
  flex-direction: column;
  margin: 2%;
  margin-left: 0;
  margin-top: 5%;
}

.Section {
  display: flex;
  border: solid red 1px;
  width: 45%;
  flex-direction: column;
  margin: 2%;
}

.section-title {
  border: solid red 1px;
}

.section-body {
  display: flex;
  border: solid red 1px;
  height: 70%;
  width: 100%;
}

.section-image {
  border: solid red 1px;
  width: 50%;
  /* height: 100%; */
}

.section-text {
  border: solid red 1px;
  width: 50%;
  /* height: 100%; */
}
